<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-lg-7 col-sm-12'>
      <h3 class='text-center my-4'>確認メールを再送信する</h3>
      <%= form_with(model: resource, scope: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <!----- form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| ---->
      <%= render 'users/shared/error_messages', resource: resource %>

      <div class='form-group row'>
        <%= f.label :email, "メールアドレス", class: 'col-sm-12 col-lg-4' %>

        <div class='col-lg-8 col-sm-12'>
          <%=
              f.email_field :email,
              class: 'form-control',
              autofocus: 'true',
              required: '',
              autocomplete: 'email',
              placeholder: "メールアドレス"
            %>
        </div>
      </div>

      <div class='form-group text-center'>
        <%= f.submit '確認メールを再送信する', class: 'btn btn-primary mt-4' %>
      </div>

      <% end %>
      <div class='form-group text-center'>
        <%= render 'users/shared/links' %>
      </div>

    </div>
  </div>
</div>