<div class="container">
  <h1>混雑具合検索</h1>
  <div class="row">
    <div class="col">
      <%= search_form_for @q, url: search_path do |f| %>
      <%= f.label :direction, '方面' %>
      <%= f.select :direction, Post.directions.keys.map {|k| [k, k]}, {prompt:"選択してください"}, class: 'form-control' %>
    </div>
    <div class="col">
      <%= f.label :station_id, '駅名' %>
      <%= f.collection_select :station_id, Station.all, :id, :station_name, {prompt:"選択してください"},  class: 'form-control' %>
    </div>
    <div class="col">
      <%= f.label :day_of_week, '曜日' %>
      <%= f.select :day_of_week, {'日曜': "日", '月曜': "月", '火曜': "火", '水曜': "水", '木曜': "木", '金曜': "金", '土曜': "土"}, { include_blank: '曜日を選択してください'}, { class: 'form-control' , required: true } %>
    </div>
    <%= f.submit '検索' %>
    <% end %>
  </div>
  <% @stations.each do |station| %>
    <% if current_user.already_favorited?(station) %>

    <% else %>

    <% end %>
    
  <% end %>
  <hr>
  <div class="row">
    <div class="col-6 bgred">
      <h3>人混み予測</h3>
      <%= column_chart @graph,
                id: 'total-attendance-chart',
                min: 0,
                max: 5, 
                width: '400px',
                height: '500px',
                xtitle: "時間帯", 
                ytitle: "混雑状況",
                colors: ['#9c6'] 
            %>
    </div>


    <div class="col-6 bgred">
      <h4 class="page-header text-center">最新投稿</h4>
      <ul class="list-group">
        <div class='card posts'>
          <div class='card-body'>
            <% @posts.each do |post| %>
            <li class="list-group-item">
              <div>名前:<%= post.user.name %></div>
              <div><%= post.direction %>方面&ensp;
                駅名:<%= post.station.station_name %>&ensp;
                <%= post.time %>時頃</div>
              <div>コメント:<%= post.comment %>&ensp;
                混雑度:<%= post.congestion_level %></div>
            </li>
            <% end %>
          </div>
        </div>
      </ul>
      <div class="row my-4">
        <div class="col text-center">
          <%= link_to "投稿する", posts_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>