<main class="container">
  <div class="text-center">
    <h3> ユーザー 一覧 </h3>
  </div>
  <% @users.each do |user| %>
  <p>ユーザー名：<%= link_to user.name, show_user_path(user) %><span class="ml-4">ID：<%= user.id %></span>
  <p>メール：<%= user.email %>
  <p>最終ログイン：<%= user.last_sign_in_at %>
    <span class="ml-4">投稿数：
      <%= user.posts.size %>
    </span>
    <hr>
    <% end %>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <%= paginate @users %>
    </ul>
  </nav>
</main>