<div class="container">
  <p><%= @user %>の投稿一覧</p>
  <hr>
  <ul class="list-group">
    <% @posts.each do |post| %>
    <li class="list-group-item">
      <div>路線<%= post.direction %>方面&ensp;
        駅名:<%= post.station.station_name %>&ensp;
        <%= post.time %>時頃</div>
      <div>混雑度:<%= post.congestion_level %></div>
      <div>コメント:<%= post.comment %>
      </div>
      <%= button_to '投稿削除', delete_post_path(post.id), data: {confirm: '本当に投稿を削除しますか？'}, method: :delete, class: "btn btn-secondary" %>
    </li>
    <% end %>
  </ul>
  <div class="pagination justify-content-center mt-3">
    <%= paginate @posts %>
  </div>
</div>