<% provide(:title, "トレコミグラフとは") %>
<div class='container'>
  <h3 class='text-center my-4'>「トレコミグラフ」とは</h3>

  <div class='row my-3'>
    <div class='col-md-6 my-auto'>
      <div class=" description">
        <h3 class="about">電車の混み具合を確認・</h3>
        <h3 class="about">投稿できるアプリです。</h3>
        <br><br>
      </div>
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10 align-self-center">
          <p>ユーザーからの投稿を集めて、時間ごとや曜日ごとの混み具合をデータ化して表示します。<br><br>グラフで分かりやすく表示されるので、お気に入り駅を登録しておけば、ひと目で混み具合が分かります！<br>
          </p>
        </div>
        <div class="col-1">
        </div>
      </div>
    </div>

    <div class='col-md-6 text-center'>
      <small>電車の混み具合を５段階で表示</small>
      <%= image_tag "/images/graph.png", class: "img-thumbnail"%>
    </div>
  </div>

  <div class='row my-5'>
    <div class='col-md-6 my-4 px-4'>
      <div class='text-center'>
        <small>ユーザーの投稿を見ることができます</small>
      </div>
      <div class='card'>
        <div class='card-body'>

          <li class="list-group-item">
            <div>名前: 電車太郎</div>
            <div><span class="mr-3">西武新宿方面</span><span class="mr-3">
                上石神井駅</span>
              <span>8:00時頃</span></div>
            <div>混雑度: 混雑しているがつり革は持てる</div>
            <div>コメント: 週明けとあって、中々混んでる</div>
          </li>
          <li class="list-group-item">
            <div>名前: 鉄道一郎</div>
            <div><span class="mr-3">本川越方面</span><span class="mr-3">
                高田馬場駅</span>
              <span>14:00時頃</span></div>
            <div>混雑度: 着席できる</div>
            <div>コメント: 意外と座れる。</div>
          </li>
          <li class="list-group-item">
            <div>西武道雄</div>
            <div><span class="mr-3">本川越方面</span><span class="mr-3">
                西武新宿駅
              </span><span>18:00時頃</span></div>
            <div>混雑度: ドア付近から動けない</div>
            <div>コメント: やっぱ、帰宅ラッシュだよねぇ</div>
          </li>

        </div>
      </div>
    </div>

    <div class='col-md-6 my-4 intro'>
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
          <div class="description">
            <h4 class='about'>リアルタイムでユーザーの</h4>
            <h4 class='about'>投稿が反映されます！</h4>
            <br><br>
          </div>
          <p>混み具合は５段階で。時間は1時間ごとに表示されるので、通勤やお出かけの際にチェックすると便利です！</p>
          <div class='row d-flex justify-content-center'>
            <%= image_tag "混雑1.jpg", alt:"混雑1", class:"icon-about" %>
            <%= image_tag "混雑2.jpg", alt:"混雑2", class:"icon-about" %>
            <%= image_tag "混雑3.jpg", alt:"混雑3", class:"icon-about" %>
            <%= image_tag "混雑4.jpg", alt:"混雑4", class:"icon-about" %>
            <%= image_tag "混雑5.jpg", alt:"混雑5", class:"icon-about" %>
          </div>
          <br>
          <p>ユーザーからの投稿がリアルタイムで反映されていくので、電車の状況が分かります。</p>

          <div class="row">
            <% if user_signed_in? %>
            <%= link_to "混雑時間を調べる", root_path, class: 'btn btn-primary mb-2 mx-auto' %>
            <% else %>
            <%= link_to "混雑時間を調べる", new_user_registration_path, class: 'btn btn-primary mb-2 mx-auto' %>
            <% end %>

            <%= link_to "会員登録する", new_user_registration_path, class: 'btn btn-primary mx-auto mb-2' %>
          </div>
          <p class="small text-danger">*会員登録するとお気に入り駅の登録や、投稿ができます</p>
          <div class="col-1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>