<div class="container">
  <% form_with model: @post local: true do |f| %>
    <%= f.collection :direction, post.directions, { prompt:"選択してください"}, { class: "form-control" } %>
    <%= f.collection (:station, @stations, :station_name, :station_name, { class: "form-control"} ) %>
    <%= f.date_field :time, default: { year: 2021, month: 4, day: 1 } %>
    <%= f.collection :congestion_level, post.directions, { prompt:"選択してください"}, { class: "form-control" } %>
    <%= f.text_field :comment %>
    <%= f.submit %>
  <% end %>
</div>
