<div class='container'>
  <div class='mx-auto'>
    <div class='row'>
      <h3 class='mx-auto my-4'>新規登録</h3>
    </div>
    <div class='row mx-auto'>
      <%= form_with model: @user, url: user_registration_path, local: true, class: 'mx-auto col-lg-6 col-md-10 col-sm-12' do |f| %>
      <%= render 'users/shared/error_messages', resource: resource %>
      <div class='form-group row mx-auto'>
        <%= f.label :name, "名前", class: 'col-lg-4 col-sm-12' %>
        <div class='col-lg-8 col-sm-12'>
          <%=
            f.text_field :name,
            class: 'form-control',
            autofocus: 'true',
            required: '',
            autocomplete: 'name',
            placeholder: 'ユーザー1'
          %>
        </div>
      </div>
      <div class='form-group row mx-auto'>
        <%= f.label :email, "メールアドレス", class: 'col-lg-4 col-sm-12' %>
        <div class='col-lg-8 col-sm-12'>
          <%=
            f.email_field :email,
            class: 'form-control',
            autofocus: 'true',
            required: '',
            autocomplete: 'email',
            placeholder: "メールアドレス"
          %>
        </div>
      </div>
      <div class='form-group row mx-auto'>
        <div class='col-lg-4 col-sm-12'>
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </div>
        <div class='col-lg-8 col-sm-12'>
          <%=
            f.password_field :password,
            class: 'form-control',
            autofocus: 'true',
            required: '',
            placeholder: "パスワード"
          %>
        </div>
      </div>
      <div class='form-group row mx-auto'>
        <%= f.label :password_confirmation, "パスワード確認", class: 'col-lg-4 col-sm-12' %>
        <div class='col-lg-8 col-sm-12'>
          <%=
            f.password_field :password,
            class: 'form-control',
            autofocus: 'true',
            required: '',
            placeholder: "パスワード確認"
          %>
        </div>
      </div>
      <div class='form-group text-center mx-auto mt-4'>
        <%= f.submit "新規登録", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
    <hr>
    <div class='text-center mx-auto'>
      <%= render 'users/shared/links' %>
    </div>
  </div>
</div>